block content

        fieldset
            div#legend
                input( type="hidden", name="_id", value="#{id}")
            div.control-group
                div.controls
                    textarea(id='message',name='message',class='form-control')
